body {
  font-family: cursive, sans-serif;
  color: purple;

 
}
h1 {
  color: goldenrod;
}
img {
  width: 200px;
 float: right
  border: 3px solid red;
  
  /*
  border-style: solid;
  border-size: 3px;
  border-color: red
  */
}
